h1 {
  text-align: center;
  margin: auto;
  color: yellow;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  text-shadow: 1px 1px rgb(15, 48, 9);
  background-color: darksalmon;
}

.preview:hover{
box-shadow: 1px 3px 5px rgba(0, 0,0, 1);
}
.preview{
  margin: 5px;
  border: 5px;
}

.Navbar{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(24, 156, 112);
  margin: 2px;
  padding: 2px;
}
.rando1{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(24, 110, 156);
  margin: 2px;
  padding: 2px;
}
.all{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(235, 127, 11);
  margin: 2px;
  padding: 2px;
}
.my{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(156, 24, 86);
  margin: 2px;
  padding: 2px;
}
.rando2{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(236, 243, 104);
  margin: 2px;
  padding: 2px;
}
.hello{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(57, 66, 63);
  margin: 2px;
  padding: 2px;
}
